*.iml
.gradle
.gradle\*.*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures
.externalNativeBuild
.idea/workspace.xml
app/app.iml
local.properties
app/google-services.json
*.rawproto
app/app-release.apk
