*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
app/app.iml
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.lock
